<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body >
    {% extends 'base.html' %}
    {% block content %}

    <div class="containerDiv" style="width: 98%; margin-left: 1%; margin-top: 1%;">

        <!-- Список книг -->
        <div class="cardsDiv" style="margin-right: 7%; margin-bottom: 3%; background-color: rgb(241, 239, 239); border-radius: 10px; width: 84%; margin-top: 2%; margin-left: auto;">
            <div class="cardDivList" style=" display: flex; flex-wrap: wrap; gap: 13px; margin-left: 1%;">
               {% for gift in gifts %}
               <div  class="card cardDivList1" style="width: 19%;">
                   {% if gift.photo %}
                       <img src="{{gift.photo.url}}" class="card-img-top cardImg" alt="..." style="width:100%; height: 350px; border-radius:7px;">
                   {% else %}
                       <img src="https://m.media-amazon.com/images/I/719uMEB4kiL._AC_UF1000,1000_QL80_.jpg" class="card-img-top" alt="...">
                   {% endif %}
                   <div class="card-body">
                    <h5 class="card-text">
                        <a href="{% url 'other_detail' gift.id %}" style="text-decoration: none; color: black;">
                            {{gift.title}}
                        </a>
                    </h5>
                   <p class="card-text" style="color: #6c757d;">{{gift.edition}}</p>
                   <p class="card-text" style="font-weight: bolder;">{{gift.price}} грн</p>
                   </div>
                 </div>           
               {% empty %}
                       <h3>Подарунки відсутні</h3>       
               {% endfor %}
            </div>
           </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>